/Razor_Atmel/firmware_ascii/iar_8_10_1/Debug/
/Razor_Atmel/firmware_ascii/iar_8_10_1/settings/
/Razor_Atmel/firmware_ascii/iar_8_10_1/eie_ascii-01.dep
/Razor_Atmel/firmware_ascii/iar_8_10_1/eie_ascii-01.ewd
/Razor_Atmel/firmware_ascii/iar_8_10_1/BuildLog.txt